spring:
  application:
    name: auth-service

  datasource:
    url: ${DB_URL}/${AUTH_DB_DATABASE}
    driver-class-name: org.postgresql.Driver
    username: ${AUTH_DB_USERNAME}
    password: ${AUTH_DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate

  data:
    redis:
      host: localhost
      port: 6379
      password: ${REDIS_PASSWORD}

server:
  port: 8081
logging:
  level:
    org.springframework.security.oauth2: DEBUG
    org.springframework.security: TRACE
    org.springframework.security.authentication: TRACE