services:
  database:
    image: postgres:17-alpine
    container_name: database
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: auth-db
    volumes:
      - pgdata:/var/lib/postgres/data
    ports:
      - "5432:5432"

  cache:
    image: redis:8.2-alpine
    container_name: cache
    environment:
      - REDIS_PASSWORD=password
    command: redis-server --save 20 1 --requirepass password
    volumes:
      - redisdata:/data
    ports:
      - "6379:6379"

volumes:
  redisdata:
  pgdata: