spring:
  application:
    name: chat-service
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: "http://localhost:8081/oauth2/jwks"

server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true

logging:
  level:
    org.springframework.security: TRACE
