<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta th:if="${success}" http-equiv="refresh" content="10;http://localhost:3000/">
    <title>Password Reset</title>
</head>
<body>

<main>

    <section th:if="${error}">
       <p th:text="${error}"></p>
    </section>

    <section th:if="${success}">
        <p>Пароль успешно сброшен</p>
        <p>Через 10 секунд вы будете переведены на главную страницу магазина</p>
    </section>

    <section th:if="${token} and !${success}">
        <header>
            <p>
                Введите новый пароль для вашего аккаунта.
            </p>
        </header>

        <form action="/account-recovery/reset" method="post">

            <input type="hidden" name="token" th:value="${token}">

            <label>
                <input type="password" name="newPassword" placeholder="Новый пароль" required>
            </label>
            <label>
                <input type="password" name="repeatPassword" placeholder="Повторите пароль" required>
            </label>

            <button type="submit">Сброс пароля</button>
        </form>
    </section>

</main>

</body>
</html>