<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta th:if="${message}" http-equiv="refresh" content="10;url=http://localhost:3000/">
  <title>Email verify</title>
</head>
<body>
<main>

  <section th:if="${message}">
    <p th:text="${message}"></p>
    <div>
      <p>You will redirect to main page of the shop</p>
    </div>
  </section>

  <section th:if="${error}">
    <p th:text="${error}"></p>

    <form method="post" action="/verify-email/resend">
      <div>
        <input type="email" name="email" placeholder="Email" required>
      </div>
      <button type="submit">Resend</button>
    </form>

  </section>

</main>
</body>
</html>